* { 
    box-sizing : border-box; 
    margin : 0; padding: 0;
    font-family: 'Kanit', sans-serif;
}

hr { border-color: red; }
h3 { 
    color: red; 
    margin-bottom: 10px;
}
img {
    display: block;
    margin: 20px auto 20px auto;
    width: 150px;
    height: 150px;
}
.content-container {
    margin: auto;
    padding: 15px;

    box-shadow: 10px 5px 15px 2px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 70%;
    height: fit-content;
}

/* this is .css for "basic-table.html */

.section-container {
    margin: 0 auto;
    width: 60%;
}

th, td {
    padding: 15px;
}

table {
    border-collapse: collapse;
}

th {
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

td {
    border: 2px solid rgba(0, 0, 0, 0.1);
}

.head { font-weight: bold;}
